<!doctype html>
{% extends "base.html" %}


<html>
	{%block content %}


  <div class="modal-content" id=loadDataModal>
    <div id="loader"></div>
    <div class="typewriter"> Retreiving data from server, please wait . . . </div>
    
  </div>

    <title> {{customer}} Tracking || {{currentTemperature}}˚C </title>
    <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/CustomerView.css') }}">
    <link rel="stylesheet" href="/static/css/CustomerView.css">
    <link rel="stylesheet" href="/static/css/extra.css">
    <link rel="stylesheet" href="/static/css/main.css">

    <div class = body >
      <div class = grid-layout-main > 

        <div class = card-container id = two >
          <iframe  id="customerMap" src="{{ url_for('static', filename='maps/' + mapHTML + '.html' )}}" alt="Map 002"></iframe>
        </div>

        <div class = card-container id = customerDataCard >
          <div class = livestock-details-container > 
            <img src="{{ url_for('static', filename='img/' + mapHTML + '.jpeg' )}}" alt="Plowman Livestock Logo" height="100px" width="auto"> </img>
              <div class = info-container > 
                <div class = headings id = customerName >   {{customer}}  </div>
                <div class = info-title id = customerBoxNumber > Box # {{customerBoxNumber}}  </div>
                <button id = refresh class = info-data onclick = "window.location.reload()">  
                  <svg class = refresh-button viewBox="0 0 512 512" title="redo-alt">
                    <path d="M256.455 8c66.269.119 126.437 26.233 170.859 68.685l35.715-35.715C478.149 25.851 504 36.559 504 57.941V192c0 13.255-10.745 24-24 24H345.941c-21.382 0-32.09-25.851-16.971-40.971l41.75-41.75c-30.864-28.899-70.801-44.907-113.23-45.273-92.398-.798-170.283 73.977-169.484 169.442C88.764 348.009 162.184 424 256 424c41.127 0 79.997-14.678 110.629-41.556 4.743-4.161 11.906-3.908 16.368.553l39.662 39.662c4.872 4.872 4.631 12.815-.482 17.433C378.202 479.813 319.926 504 256 504 119.034 504 8.001 392.967 8 256.002 7.999 119.193 119.646 7.755 256.455 8z" />
                  </svg> 
                </button>
              </div>
          </div>

          <div class = flex-container > 
              <div class = status-text id = ping> Online </div> 
              <div class = status-text id = livestockBoxStatus> Parked </div>  
          </div>
      
          <div class = flex-container > 
            <div class = info-container > 
              <div class = info-data id = totalDistanceMiles > {{totalDistance}} miles </div> 
              <div class = info-title> Total Distance </div> 
            </div>
            <div class = info-container> 
              <div class = info-data id = totalDistanceOneWeek> {{weeklyDistance}} miles </div> 
              <div class = info-title> This week </div> 
            </div>   
            <div class = info-container> 
              <div class = info-data id = currentTemperatureAverage> {{currentTemperature}}° </div> 
            <div class = info-title> Temperature </div> 
            </div> 
          </div>
        </div>

        <div class = card-container id = three >

          <div class= flex-container> 
            <div class = info-title> Showing data from:  </div> 
          
          </div>

          <div class = info-title id=daterangeresult>  {{StartTimeWD}} - {{EndTimeWD}}</div>
         

          <div class= flex-container>
            <div class = info-data-large id = dataRangeSimple> {{StartTime}} - {{EndTime}} </div> 
          </div>

          <div class = info-title id=daterangeresult> {{StartTimeHr}} - {{EndTimeHr}}</div>

          <div class= flex-container-edit >
             <div class = info-data-accent> [All Times Displayed in UCT] </div> 
            
            <div class = info-data-accent id = dataRange>  </div> 
            <button class = normalButton id = changeData> 
              Change Data
            </button>
            <div class="tooltip">
              <span class="tooltiptext">Automatically refreshes the page</span>
              <button class = normalButton id = autoRefresh value="true" onclick="AutoRefresh()"> 
                Go Live
              </button> 
            </div>
            
          </div>

        </div>

        <div class = card-container id = six >
          <div class = flex-container > 
            <div class = info-container > 
              <div class = info-data id = sensorsOnline > {{sensorsOnline}} / 8  </div> 
              <div class = info-title> Sensors Online </div> 
            </div>
            <div class = info-container> 
              <div class = info-data id = currentLatLon> {{latitude}},{{longitude}} </div> 
              <div class = info-title> Latitude/Longitude </div> 
            </div>   
            <div class = info-container> 
              <div class = info-data id = lastPacketTime> {{lastPacket}} </div> 
              <div class = info-title> Last Packet </div>
            </div>
            <div class = info-container> 
              <div class = info-data id = namedLocation> {{location}} </div> 
              <div class = info-title> Location </div> 
            </div>  
          </div>
        </div>
        
        <div class = card-container id = five > 

          <div class = grid-container > 
            <!-- row 1 - Titles#1 -->
            <div class = info-title> Current Temperature </div>
            <div class = info-title> Fan Status </div>
            <div class = info-title> Location </div>
            <!-- row 2 - Info#1 -->
            <div class = info-data-large> {{currentTemperature}}˚C </div>
            <div class = info-data-large> {{fanStatus}} </div>
            <div class = info-data-large> {{latitude}} , {{longitude}}</div>
            <!-- row 3 - Accent#1 -->
            <!-- accent 1 --><div class = info-data-accent> </div>
            <!-- accent 2 --><div class = info-data-accent> </div>
            <div class = info-data-accent> Latitude      Longitude </div>
            <!-- row 4 - Title#2 -->
            <div class = info-title> Sensors Online </div>
            <div class = info-title> Fan Uptime </div>
            <!-- title 3 --> <div class = info-title> </div>      
            <div class = info-data-large> {{sensorsOnline}}/8</div>
            <div class = info-data-large> {{fanUptime}} </div>
            <div class = info-data-large> {{location}} </div>
            <!-- accent 1 --><div class = info-data-accent></div>
            <div class = info-data-accent> last 4 weeks </div>
            <!-- accent 3 --><div class = info-data-accent></div>
          </div>
        </div>



        <div class = time-range-modal> 
          <!-- The Modal -->
          <div id="myModal" class="modal">
            
          <!-- Modal content -->
            <div class="modal-content" id = "changeDataModal">
              <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
              <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
              <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
              <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
              <span class="close">&times;</span>
      
              <p>Choose Date Range</p> 	

      
              <form class="form-dates" name = "TimeRangeTable" method = "post" >
                  <input type="hidden" id="valueTest" name="valueTest" value="testing">
                  <input type="hidden" id="startDate" name="startDate">
                  <input type="hidden" id="endDate" name="endDate">
                  <div name = "reportrange" id="reportrange" >
                  <i class="fa fa-calendar"></i>&nbsp;
                  <span></span> <i class="fa fa-caret-down"></i>
                  </div>
                  <div class= flex-container-centre>
                  <input class = normalButton id = submitData type="submit" value="submit" onsubmit="LoaderIcon()">
                  </div>
              </form>
            </div>

            

            </div> 
      
          </div>  




</div>
    </div>
        
<script>

//On Load, do this: 
var dateTimeStartVal = moment().startOf('day')
var dateTimeEndVal = moment().endOf('day')

dateTimeEndVal.format('YYYY-MM-DD HH:mm:S')
dateTimeStartVal.format('YYYY-MM-DD HH:mm:S')

// Date Range Picker function.
$(function() {

var start = moment().subtract(29, 'days');
var end = moment();

function cb(start, end) {
    $('#reportrange span').html(start.format('MMMM D, YYYY - HH:mm') + ' - ' + end.format('MMMM D, YYYY - HH:mm'));
    document.getElementById('startDate').value = start.format('YYYY-MM-DD HH:mm:S');
    document.getElementById('endDate').value = end.format('YYYY-MM-DD HH:mm:S');
    document.getElementById('startDate').innerHTML = start.format('Y-m-d H:M:S');
    document.getElementById('endDate').innerHTML = end.format('Y-m-d H:M:S');
}

$('#reportrange').daterangepicker
(
    {
    startDate: start,
    endDate: end,
    timePicker: true,
    ranges: {
        'Today': [moment().startOf('day'), moment().endOf('day')], 
        'Yesterday': [moment().startOf('day').subtract(1, 'days'), moment().endOf('day').subtract(1, 'days')],
        'Last 7 Days': [moment().startOf('day').subtract(6, 'days'), moment().endOf('day')],
        'Last 30 Days': [moment().startOf('day').subtract(29, 'days'), moment().endOf('day')],
        'This Month': [moment().startOf('month'), moment().endOf('month')],
        'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
    }
    }, 
    cb, 
    {locale: {format: 'DD-MMM-YY'}}
);
cb(start, end);

    



    


    // Get the modal
    var modal = document.getElementById("myModal");
    // Get the button that opens the modal
    var btn = document.getElementById("changeData");
    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];
    // When the user clicks on the button, open the modal
    btn.onclick = function() {
      modal.style.display = "block";
    }
    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
      modal.style.display = "none";
      
    }


    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }

    // When data is submitted, hide the submit Modal and show the loader.
    var submitDataButton = document.getElementById("submitData");
    submitDataButton.onclick = function() 
    {
      localStorage.setItem("refreshValue", "false"); // We don't want to autorefresh the page now. 
      modal.style.display = "none";
      document.getElementById("loadDataModal").style.visibility = "visible";
    }

    });


//AutoRefresh
var autoRefreshButton = document.getElementById("autoRefresh")
autoRefreshButton.value = localStorage.getItem("refreshValue");
var myTimeout

if (autoRefreshButton.value == "true") {
			autoRefreshButton.innerHTML = "Live";
			autoRefreshButton.value = "true";
			autoRefreshButton.style.backgroundColor = "#10c469";
			


      myTimeout = setTimeout(function(){ window.location.reload(); }, 120000);

		}
		else {
			autoRefreshButton.innerHTML = "Go Live";
			autoRefreshButton.style.backgroundColor = "#8c8c8c";
			autoRefreshButton.value = "false";
			
		}
		

		autoRefreshButton.onclick = function () {
			if (autoRefreshButton.value == "false") {
				autoRefreshButton.innerHTML = "Live";
				autoRefreshButton.style.backgroundColor = "#10c469";
				autoRefreshButton.value = "live";

                var postData = 
        { 
        Username:"{{customerBoxNumber}}",
        updateType:"Ajax",
        dateTimeStart: dateTimeStartVal,
        dateTimeEnd: dateTimeStartVal,
        }


        $.ajax({
              type: "POST",
              data: JSON.stringify(postData),
              success: console.log('Data has been posted'),             
              contentType: "application/json; charset=utf-8",
              dataType:"json",
        });

    

        console.log(postData)
        


				myTimeout = setTimeout(function(){ window.location.reload(); }, 120000);
				localStorage.setItem("refreshValue", "true");

			}
			else {
				autoRefreshButton.innerHTML = "Go Live";
				autoRefreshButton.style.backgroundColor = "#8c8c8c";
				autoRefreshButton.value = "false";
				clearTimeout(myTimeout);
				localStorage.setItem("refreshValue", "false");


			}
		} 





</script>






  {%endblock%}
</html>