<!doctype html>

{% extends "base.html" %}
		
<html>


{%block content %}	
<title> Plowman Telemetry || Register </title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/CustomerView.css') }}">
<link rel="stylesheet" href="/static/css/CustomerView.css">


<div class = "centeredbody">
	<div class = card-container>
	<form method="post">
        <div class = headings style="text-align: center;" >   Register for a New Account  </div>
        <div class = info-title style="text-align: center;" > Plowman Telemetry  </div>
		<p>  </p>
        <p>
            <input type="text" name="firstName" placeholder="First Name">
            <input type="text" name="lastName" placeholder="Last Name">  
        </p>
		<p><input type="text" name="email" placeholder="Email Address">  </p>
        <p><input type="text" name="username" placeholder="Username">  </p>
		<p><input type="password" name="password" placeholder="Password">  </p>
		<input type="submit" value="      Submit     ">
    </form>
	</div>
</div>

{% endblock %}	
</html>